.title-icon {
    color: #fff;
}

.toolbar-title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.spacer {
    flex: 1 1 auto;
}

 mat-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ef820d;
}